<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="in.spring.beans.Address" id="address">
		<property name="houseNo" value="25"></property>
		<property name="city" value="surat"></property>
		<property name="pincode" value="963258"></property>
	</bean>

	<bean class="in.spring.beans.Student" id="stdId" autowire="byName">
		<property name="name" value="Dk"></property>
		<property name="rollNo" value="85"></property>

	</bean>

</beans>